* {
	-ms-overflow-style: none;
}
body {
	background-color: #04031a !important;
}
::-webkit-scrollbar {
	display: none;
}
.borderClass {
	border-left-style: solid !important;
	border-width: 0.5px !important;
	border-color: rgb(68, 66, 66) !important;
}
.borderClass2 {
	border-bottom-style: solid !important;
	border-width: 0.5px !important;
	border-color: rgb(68, 66, 66) !important;
}
textarea {
	border: none !important;
	border-bottom-style: solid !important;
	outline: none !important;
	border-width: 0.05px !important;
	border-color: rgb(68, 66, 66) !important;
}
.tweet-content {
	border-bottom-style: solid !important;
	border-width: 0.05px !important;
	border-color: rgb(68, 66, 66) !important;
}
.list-group {
	margin-top: 35px;
	height: 100%;
	width: 90%;
	overflow-y: scroll;
	box-shadow: -1px 1px 0px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
}
li {
	border: none !important;
	background-color: #04031a !important;
	margin-bottom: 20px;
	border-bottom-style: solid !important;
	border-width: 0.05px !important;
	border-color: rgb(68, 66, 66) !important;
}
.card-body {
	background-color: #04031a;
	border: none !important;
	outline: none !important;
}
.card {
	background-color: #04031a;
	border: none !important;
	outline: none !important;
}
.topbar nav {
	background-color: #04031a !important;
}
.help-container nav {
	background-color: #49718b !important;
}
.navbar-brand {
	font-weight: bold;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 100vh;
}
